*~
*.pyc
*.mo
xxx*
Trash
BACKUP_DB*
DB*
UPLOAD
DOCUMENTATION/PYCONFR/
DOCUMENTATION/Welcome-local.xml
DOCUMENTATION/Welcome.xml
DOCUMENTATION/changelog
DOCUMENTATION/expose.*
FILES/automne-orig.png
FILES/printemps-orig.png
FILES/fst.png
FILES/columns.png
FILES/comment.png
FILES/course_dates.png
FILES/empty.png
FILES/filtre.png
FILES/filtre2.png
FILES/groupcolumn.png
FILES/import.png
FILES/rounding.png
FILES/teacher.png
FILES/title.png
FILES/visible.png
LOCAL/
LOGS/
PICTURES/*.JPG
PYTHON_JS/PythonJS/
PYTHON_JS/RapydScript/
PYTHON_JS/test.*
PYTHON_JS/tomuss_python.py
PYTHON_JS/*.js
REGTEST_CLIENT/dumper
TAGS
TMP/
