/* CSS for Display framework */

BODY { margin: 0px ;
       margin-left: 0.2em ;
     }

BODY.Printemps,
BODY.Printemps TABLE.colored TD,
BODY.Printemps .BodyRight
{ background-color: #f9fff6 }
BODY.Automne,
BODY.Automne TABLE.colored TD,
BODY.Automne .BodyRight
{ background-color: #fff5e0 }

.Display {
    display: inline-block ;
    vertical-align: top ;
}

.DisplayVertical > .Display {
    display: block ;
}


/*****************************************************************************/
/* PRINT */
/*****************************************************************************/

@media print {

.noprint { display: none ; }

BODY, BODY.Printemps, BODY.Automne {
    background-color: white ;
    background: white ;
    background-image: none ;
}

#cellbox_tip * { display: none }
}