BODY {
  font-family: sans-serif ;
  margin-bottom: 100em;
  background-color: white;
  margin-top: 0px ;
  text-align: justify;
}

TT {
  font-family: courier ;
  font-weight: bolder;
}

DIV.top {
  margin-left: 17em ;
  max-width: 38em ;
  margin-top: 0px ;
}

DIV.menu {
  position: fixed ;
  top: 0 ;
  left: 0 ;
  width: 17em ;
}

#log IMG { width:1 ; height:1 }

DIV.menu P.search {
  background-color: #DDF ;
  text-align:center ;
  padding: 0.5em;
  margin: 0;
  font-size: 70% ;
  border-right: 1em solid #EEF ;
}
DIV.menu P.search INPUT {
  background-color: #FFF;
  width: 100%;
}

DIV.menu A {
  font-size: 70% ;
  margin: 0em ;
  color: black ;
  display: block;
  border-right: 1em solid #EEF ;
}
DIV.menu A:hover {
  background-color: black;
  color: white;
}
DIV.menu A.current:hover {
  background-color: black;
}
DIV.menu A.filter:hover {
  background-color: black;
  color: yellow ;
}
DIV.menu A.onscreen {
  border-right: 1em solid #8F8 ;
}
DIV.menu A.unselected:hover {
  border-right: 1em solid #EEF ;
}
DIV.menu A.current {
  border-right: 1em solid #0B0 ;
  /* background-color: #DFD; */
}
DIV.menu A.h1 { font-weight: bold}
DIV.menu A.h2 { font-weight: bold ; padding-left: 1em }
DIV.menu A.h3 { padding-left: 2em }
DIV.menu A.h4 { padding-left: 4em ; font-size: 60% }
.highlight { background-color: #DDF }

H1, H2, H3 { background-color: #8F8 ; margin: 0px; }
H1, H2 { text-align: center }
H3 { display: inline }
H4 { display: inline ; border-bottom: 0.2em solid #8F8 }
DIV#menu A.unselected { color: #888 }
SPAN.filter { background-color: yellow ; }
DIV.menu A.filter { background-color: #FF8 ; }

A { text-decoration: none ; }

TABLE TD, TABLE TH, TABLE { border: 1px solid black; vertical-align: top }
TABLE { border-spacing: 0px; }

@media print {
  DIV.menu { display: none ; }
  DIV.top { margin-left: 0em ; }
  H1, H2 { border-top: 1px solid black ;
    border-bottom: 1px solid black ;
  }
  H3 { border-bottom: 1px solid black ; }
}
