
BODY, BODY TABLE.colored TD { background-color: #EEEEEE ; }

BODY {
  background-image: url('_LOGO_');
  background-repeat: no-repeat;
  background-position: center -10px;
}

BODY, TABLE TD, #current_input, TR.filter INPUT {
  border: none ;
  font-family: sans-serif ;
  cursor: text ;
}
INPUT { cursor: text ; }
A { text-decoration: none; }

.clickable {
    cursor: pointer ;
}
.clickable:hover {
    text-decoration: underline ;
}


BODY.tomuss H1 { font-size: 90% }

IMG { cursor: default; }

BODY.tomuss, BODY.tomuss TABLE INPUT, BODY.tomuss TABLE TD, BODY.tomuss TH, BODY.tomuss P, BODY.tomuss H1 { 
  padding: 0px ;
  margin: 0px;
}

.identity {
  float: right ;
  margin-left:2em;
}

.identity TD {
    font-size: 80% ;
    white-space: nowrap ;
    text-align: right;
}

.identity .icons {
    font-weight:bold ;
    font-size:170% ;
}

.identity IMG { height: 0.8em }

DIV.import_export.top_right {
    top: 2em ;
    right: 0px ;
    left: auto ;
    max-width: 35em ;
    border: 1px solid black ;
    opacity: 0.9 ;
    background-color: #FFF ;
}

DIV.import_export.help_popup {
    bottom: 0px ;
    padding-right: 0px ;
    overflow: hidden ;
}

DIV.top_right P { margin-top: 0.8em ; }

DIV.scrollable {
    overflow: auto ;
    max-height: 97% ;
}

#updating { display:none; background-color: orange }

.table_ro { background-color: #F00; color: #FFF }

.title_pointers {
  font-size: 70% ;
}

.title_pointers DIV.tipped {
  padding-top: 1em;
}

.shortcut {
  background-color: #0F0 ;
  margin-left: 1em ;
  position: absolute;
  right: 0px ;
}


TABLE.colored { 
  background-color: #999 ;
  border-spacing: 0px ;
  empty-cells:show;
  border-left: 1px solid #999 ;
  border-top: 1px solid #999 ;
  font-weight: normal ;
}

TABLE.colored TD, TABLE.colored TH {
    border-bottom: 1px solid #999 ;
    border-right: 1px solid #999 ;
}

/* To find if the cursor is inside the table */
DIV#divtable:hover DIV#hover { 
  left: -20px;
}
DIV#divtable DIV#hover { 
  position:absolute;
  left: -10px;
}

DIV#divtable { 
  width: 100% ;
}

TABLE#thetable { 
  table-layout: fixed ;
  width: 100% ;
  border-right: 2px solid black ; /* border of current_cell in last column */
}

/*
TABLE#menutop SELECT:focus { right: 0px ;  }
*/

TABLE#thetable TD, TABLE#thetable TH, TABLE#thetable TH SPAN, TABLE#thetable INPUT, #current_input { 
  white-space: nowrap;
  overflow: hidden ;
  vertical-align: top ;
  text-align: left;
  padding: 0px ;
  margin: 0px;
}

TABLE#thetable TD {
    height: 1.28em ;  /* 1.1 was not good for Chrome */
    position: relative ; /* To allow positonning of _key value in the cell */
}

.sorted_value {
    font-size: 60% ;
    line-height: 1em ;
    color: #66F ;
    position:absolute;
}

DIV#current_input_div { 
  position: absolute ;
  border: 3px solid grey ;
}

DIV#current_input_div INPUT#current_input {
  width: 100% ;
  height: 100% ;
}


TH, TH INPUT, TH P {
  font-weight: 500 ;
  background-color: #DFD ;
/*  background: url(header.png) #DFD ; */
}


TH SELECT { 
  background-color: #CDC ;
}
TABLE INPUT, #current_input {
  font-size: 100% ;
}

THEAD TR TD { 
  white-space: normal;
}

.empty {
  background-repeat: no-repeat ;
  background-position: 2px 2px;
  background-size: auto 0.9em ;
}

/* TR.filter TH INPUT.notempty { background-color: #DFD ; } */
TR.filter TH INPUT.empty {
  background-image: url("filtre.png") ;
  background-color: #DFD ;
}

TR.filter TH INPUT {
  background-color: #FF0 ;
}



TR.filter TH INPUT.freezed { border-bottom: 1px solid black; }

#linefilter, #columns_filter, #fullfilter {
  background-color: #FFF ;
  border: 1px solid black ;
}

#menutop #linefilter, #menutop #columns_filter, #menutop #fullfilter {
  background-color: #FF0 ;
}

#menutop #linefilter.empty, #menutop #columns_filter.empty, #menutop #fullfilter.empty {
  background-image: url("filtre2.png") ;
  background-color: white ;
}

TR.tablefilter INPUT { width: 10em ; }


TR.ok TD, #current_input.ok, SPAN.ok {  }
BODY TABLE.colored TR.non TD, #current_input.non, SPAN.non, LI.non { background-color: #FBB; }

TR.column_title TH { color: #00F; }
TR.column_title TH.ro { color: #88F; }
TR.column_title DIV { position: relative; width:100% }
TR.column_title DIV SPAN { float: left; width:100% }
TR.column_title DIV IMG { position: absolute; right: 0px; top: 0px }


TR.ro, TD.ro, #current_input.ro, TH.ro, TH.ro INPUT, TH.ro SELECT, .ro { 
  color: #555 ;
}
TD.empty { 
 /* background-color: #DDD ; */
}

BODY TABLE.colored TR.highlight_current TD { color: #00A;  }


.is_an_abj { text-decoration: underline ; }
.is_not_an_abi, .ro.is_not_an_abi, .greentext.is_not_an_abi { color: #F00 ; }

TABLE#thetable TD.number, TD.number, #current_input.number { 
  text-align: right ;
}

BODY TABLE.colored TR TD.color_green.color_red, #current_input.color_green.color_red, .color_green.color_red { 
  background-color: #FC0 ;
}

BODY TABLE.colored TR TD.color_red, #current_input.color_red, .color_red { 
  background-color: #F88 ;
}

BODY TABLE.colored TR TD.color_green, #current_input.color_green, .color_green { 
  background-color: #8F8 ;
}

.greentext.redtext { color: #D60 ; }
.redtext   { color: #A00 ; }
.greentext { color: #0A0 ; }




BODY TABLE.colored TR TD.filtered, #current_input.filtered, BODY TABLE.colored TR.non TD.filtered, BODY TABLE.colored TR.tierstemps TD.filtered, SPAN.filtered { 
  background-color: #FF0 ;
}


TABLE#thetable TH.sorted { 
  font-weight: bold ;
  background-color: #BFB;
}

TR.column_title DIV {
    position: relative ;
}

TR.column_title DIV DIV { /* Sorting triangle */
    position: absolute ;
    right: 0px ;
    width: auto ;
    height: 1.2em ; /* Bad height on Chrome on Windows */
}

TR.column_title DIV:hover DIV.icon_hidden {
    display: block ;
    color: #888 ;
}

TR.column_title DIV.icon_hidden {
    display: none ;
}

TABLE#thetable TH.hidden_to_student {
  color: #B83 ;
}

IMG.server { 
  width: 7px ;
  height: 7px ;
  background-color: orange ;
  border: 0px ;
}

INPUT#comment {
  border: 1px solid black ;
  background-color: white ;
}

TABLE INPUT, TABLE SELECT { 
  width: 100% ;
}

DIV.tipped, DIV.tipped DIV.text { display: inline ; }

DIV.tipped DIV.help { display: none; }

DIV#tip DIV.more { 
  white-space: normal;
  font-weight: bold;
  background-color: inherit ;
  border-top: 1px solid black ;
}

DIV#tip { 
  position: absolute ;
  border: 1px solid black ;
  background-image: url(tip.png) ;
  display: none ;
  padding: 2px ;
  min-width: 10em;
  z-index: 20;
  font-size: 70%;
}

DIV#tip_plus {
  position: absolute ;
  border: 1px solid black ;
  background: #FFF ;
  z-index: 20;
  opacity: 0.6;
}

DIV#tip_plus:hover {
  background: #AFF ;
}

DIV.help > * { font-size: 80%; }

DIV#tip HR {
   width: 20em ; /* Needed for IE, else it is the full screen width */
}

DIV#tip SPAN.title { background-color: #CCF ; }

.cursor IMG {
  vertical-align: middle ;
  border: 0px ;
}

DIV#tip UL, DIV#tip P { margin: 0px ; }

DIV.shortcuts {
    background-color: #888 ;
    }
DIV.shortcuts TD {
    background-color: #EEE
    }
DIV.shortcuts TD.key {
    text-align: center ;
    }
DIV.shortcuts TD.modifier {
    text-align:right
    }


IMG.photo { 
  width: 100px ;
}

TD.comment, .comment { 
  background: url('cell_comment.png');
  background-repeat:no-repeat;
  background-position:right top;
}

TD.comment, #current_input.comment { 
  background-color: white;
}

TD.today, #current_input.today, .today { 
  font-weight: bolder ;
}

TD.default { color: #BBB }


SPAN#teachers { font-weight: bold ; }

#student_data { border: 0px ; width: 1px ; height: 1px ; }


.t7, .t8 { display: none ; }

.copyright {
  color: #AAA ;
}

TABLE.tablehelp { border: none; }
TABLE.tablehelp TR TH { text-align: right; background-color: #EEEEEE; }


IMG.icone { height: 16px; border: none;   vertical-align: bottom ;
 }
IMG.bigicone { width: 100px; border: none; }

.stroked { background-color: #BFB; font-weight: bold }

#menutop A.linkstroked { text-decoration: line-through }


#authenticate { 
  display: none ;
  position: absolute;
  left: 10%;
  width: 80% ;
  top: 10%;
  height: 80% ;
  border: 4px solid red ;
  background-color: white ;
  z-index: 300 ;
}

DIV#horizontal_scrollbar { 
  font-size: 60% ;
  height: 2em ;
  display: inline;
  padding-bottom: 6px ;
}

DIV.horizontal_scrollbar { 
  margin-bottom: 1em ;
}
DIV.horizontal_scrollbar IMG { 
position: absolute;
 }

DIV#horizontal_scrollbar A { 
  border-top: 1px solid black ;
  border-left: 1px solid #AAA ;
  border-bottom: 1px solid black ;
  position: absolute ;
  text-decoration: none;
  margin: 0px ;
  padding: 0px ;
  overflow: hidden;
  white-space: nowrap;
}
DIV#horizontal_scrollbar A.column_invisible { 
  background-color: #CCC;
}

DIV#horizontal_scrollbar A.column_visible { 
  background-color: #FFF;
}

DIV#horizontal_scrollbar A.cursor { 
  background-color: #0F0;
}

DIV#horizontal_scrollbar A.sorted { 
  color: #080;
}

DIV#vertical_scrollbar { 
  font-size: 70% ;
  width: 1.5em ;
  border: 1px solid black ;
  background-color: #CCC;
  position: absolute;
  overflow: hidden;
}
DIV#vertical_scrollbar SPAN { position: absolute ; left: 1px; }
DIV#vertical_scrollbar SPAN.position {
  left: 0px ;
  right:0px ;
  background-color: #FFF ;
  width: 100% ; /* For IE */
}
DIV#vertical_scrollbar SPAN B.letter {
   color: #00F ;
}
DIV#vertical_scrollbar SPAN B.hide {
  color: #AAA ;
}
DIV#vertical_scrollbar SPAN.cursor {
  position: absolute ;
  background-color: #0F0 ;
  height: 0px ;
}

DIV#vertical_scrollbar IMG { position: absolute ; }


#feedback {
  position:absolute ;
  left: 45% ;
  top: 45% ;
  z-index: 2;
}

P.da {  background-color: #FF0 ; }

/* Tiers temps */


P.tierstemps { background-color: #BBF ; }

BODY TABLE.colored TR.tierstemps TD, #current_input.tierstemps, SPAN.tt { background-color: #BBF ; }


DIV.loading_bar {
  position: absolute ;
  left: 10% ;
  right: 10% ;
  top: 45% ;
  bottom: 45% ;
  background-color: white ;
  border: 2px solid black ;
}

DIV.loading_bar DIV {
  background-color: #4F4 ;
  height: 100% ;
}


.login_list, .login_list OPTION { 
  font-family: monospace;
  white-space: pre;
}

#saving { 
display: none ;
position: absolute ;
background: #FFF ;
border: 1px solid black ;
left:25%;
right:25%;
bottom: 0;
font-size: 200%;
}

/*****************************************************************************/
/* MENUTOP */
/*****************************************************************************/

#menutop {
  table-layout: fixed;
  border-spacing: 0px;
  margin-bottom: 0px ;
  width: 100% ;
  margin-top: 0em;
}
#menutop div.title {
  background-color: #8F8 ;
  display: inline;
  border-top: 1px solid black ;
  border-left: 1px solid black ;
  border-right: 1px solid black ;
  border-bottom: 0px ;
  font-size: 120%;
  padding-left: 0.2em ;
  padding-right: 0.2em ;
}

#menutop TD.blocktop {
  border-top: 1px solid black ;
  border-left: 1px solid black ;
  border-right: 1px solid black ;
}
#menutop TD.blockbottom {
  border-bottom: 1px solid black ;
  border-left: 1px solid black ;
  border-right: 1px solid black ;
}
#menutop TD.space { width: 2px ; }

#menutop TD.blocktop { width: 30% ; overflow: hidden;}
#menutop TD { vertical-align: top ; }
#t_student_picture { float: left ;   }
#t_value { font-weight: bold; }
INPUT#comment { width: 100% ; clear: both; }
#menutop IMG.phot { border-width: 0 ; width: 5.6em }

#menutop .one_line {
  white-space: nowrap ;
  overflow: hidden;
}

/* #menutop SELECT { position:relative; top: -3px } */

#t_date, #t_author { font-size: 80%; }

#menutop INPUT.highlight1, .highlight1 { background-color: #FF0 ; }
#menutop INPUT.highlight2, .highlight2 { background-color: #FF2 ; }
#menutop INPUT.highlight3, .highlight3 { background-color: #FF4 ; }
#menutop INPUT.highlight4, .highlight4 { background-color: #FF6 ; }
#menutop INPUT.highlight5, .highlight5 { background-color: #FF8 ; }
#menutop INPUT.highlight6, .highlight6 { background-color: #FFA ; }
#menutop INPUT.highlight7, .highlight7 { background-color: #FFB ; }
#menutop INPUT.highlight8, .highlight8 { background-color: #FFC ; }

#menutop INPUT {
  width: 96% ;
  margin: 1px ;
  background-color: white ; 
  border: 1px solid black;
}
#menutop INPUT:focus { border: 1px solid #00F }

#menutop SELECT { width: 25% ; font-size: 80%; }

.gui_button {;
  margin: 0px ;
  background: #EEE ;
  border: 1px outset #AAA ;
  font-size: 70% ;
  padding: 0px ;
  cursor: pointer;
}

/* #menutop .gui_button:hover { background: #EFE ; } */

#comment.empty {
  background-image: url("comment.png");
}

H1 {  margin: 0px  }
.testmessage { margin: 0px }


TR.separator TD { 
    border-top: 1px solid #999 ;
}

TR#dates TD { padding: 3px ;
}

.hidden_on_paper {  background: #FF8; margin: 0px; }
.printable_introduction {
  float: right;
  border: 1px solid black;
  font-size: smaller ;
  background: #FF0 ;
}

span.button_toggle { 
  border: 1px solid black;
  padding: 0px ;
  white-space: nowrap ;
  vertical-align: middle;
}

TABLE.hidden_on_paper span.button_toggle { font-size: 70% ; }

span.button_toggle:hover { background: white ; color: black }

span.toggled:hover { background: #0C0 ; color: #0F0 }

span.toggled { background: #080 ; color: white }

.nowrap, TABLE.nowrap TD, TABLE.tdnowrap TD { white-space: nowrap ; }

.small { font-size: 80% }
.smaller { font-size: 60% }

A[href]:hover { text-decoration: underline }

/*****************************************************************************/
/* New new interface */
DIV.tabs DIV.titles {
    white-space: nowrap ;
}
DIV.tabs DIV.titles SPAN {
  border: 1px solid black ;
  margin-right: -1px ;
  cursor: pointer ;
  border-top-right-radius: 0.4em ;
  border-top-left-radius: 0.4em ;
  opacity: 0.7 ;
}

DIV.tabs DIV.titles SPAN:first-child {
  font-weight: bold ;
}

DIV.tabs DIV.titles SPAN.tab_selected, DIV.tabs DIV.titles SPAN:hover {
  opacity: 1 ;
}

DIV.tabs DIV.titles SPAN.tab_selected {
  border-bottom: 0px ;
  background: #BFB ;
}

DIV.tabs DIV.contents {
  border: 1px solid black;
  height: 7.6em;
  overflow: hidden ;
}

#menutop DIV.tabs IMG.phot {
height: auto;
width: 5.5em;
}

DIV.tabs DIV.contents DIV.content { height: 100% }
DIV.tabs {
  margin: 2px ;
  font-size: 80% ;
}

DIV.tabs .gui_button {font-size: 90% ; vertical-align: bottom }


TABLE.tabbed_headers { width: 100%; }
TD.tabbed_headers { width: 20%; }

TABLE.cell { border-spacing: 0px ; width: 100% }
TABLE.cell TD.cell_values { width: 100%; }


#menutop DIV.tabs .one_line {
  height: 1.43em ;
  margin: 1px ;
}

#menutop DIV.tabs #t_column_stats {
  border-top: 0px solid black;
  border-bottom: 0px solid black;
}

#menutop DIV.tabs INPUT{ width: 99% ; margin: 0px }

#menutop DIV.tabs SPAN.widthleft { display:block; float: left ; width: 25%; }

DIV.tabs #t_history,  DIV.tabs .scroll_auto { overflow: auto; height: 100% }

#t_editor {
    position: absolute ;
    width: 99% ;
    height: 3.5em ;
    opacity: 0.8 ;
    z-index: 1 ;
}

#t_editor:hover { opacity: 0.95 ; }


/*
DIV.tipped { background:red;}
.one_line { background:green  }
*/

DIV.howto {
    background: white ;
    border: 2px solid black ;
    }
DIV.howto.import_export {
    padding: 0px ;
    bottom: 0px ;
    right: 0px;
    top: auto ;
    left: auto ;
    max-height: 100% ;
    max-width: 100% ;
}

.howto IFRAME {
    width: 1000px ;
    height: 576px ;
    border: 0px ;
    }

/*****************************************************************************/
/* PRINT */
/*****************************************************************************/

@media print {

BODY { 
    margin: 5mm ;
}

BODY, TABLE TD, TH, P, H1 {
    background-color: white ;
}

.title_pointers {
  display: none;
}

.hidden_on_paper {
  display: none;
}

/* 'display: none' does not work because JavaScript change it */
DIV#tip, DIV#tip_plus {
    display: none ; /* Do not work for all */
    border: 0px ;
    font-size: 0px ; /* Can't hide under background when printing */
    z-index: -1 ;
    opacity: 0 ;
    }    

}
