
/* BODY, TABLE INPUT, TABLE TD, TH, P, H1, #current_input { */
/* These values are also in 'document.py' for TABLE */
BODY          ,BODY           TABLE.colored TD { background-color: #EEEEEE ; }
BODY.Printemps,BODY.Printemps TABLE.colored TD { background-color: #F4FFF4 ; }
BODY.Automne  ,BODY.Automne   TABLE.colored TD { background-color: #FFF8E0 ; }

BODY {
  background-image: url('_LOGO_');
  background-repeat: no-repeat;
  background-position: center -10px;
}

BODY, TABLE TD, #current_input, TR.filter INPUT {
  border: none ;
  font-family: sans-serif ;
  cursor: text ;
}
INPUT { cursor: text ; }
A { text-decoration: none; }



BODY.autosavefailed H1 { font-size: 130% ; }

BODY.tomuss H1 { font-size: 90% }

IMG { cursor: default; }

SELECT { cursor: pointer; }

BODY.tomuss, BODY.tomuss TABLE INPUT, BODY.tomuss TABLE TD, BODY.tomuss TH, BODY.tomuss P, BODY.tomuss H1 { 
  padding: 0px ;
  margin: 0px;
}


BODY.autosavefailed, BODY.autosavefailed P, BODY.autosavefailed H1, BODY.autosavefailed TABLE.tablehelp TD, BODY.autosavefailed TABLE.tablehelp TH, BODY.autosavefailed #menutop TD  { background-color: #F88 ; }

.identity {
  font-size: 80% ;
  float: right ;
  text-align: right;
  margin-left:2em;
}

.table_ro { background-color: #F00; color: #FFF }

.title_pointers {
  font-size: 70% ;
}

.title_pointers DIV.tipped {
  padding-top: 1em;
}

.autumn { background-color: #FB8 }
.spring { background-color: #8F8 }
/* Does not work with IE */
/* SELECT.autumn OPTION, SELECT.spring OPTION { background-color: white; } */

.shortcut {
  background-color: #0F0 ;
  margin-left: 1em ;
  position: absolute;
  right: 0px ;
}


TABLE.colored { 
  background-color: #999 ;
  border-spacing: 1px ;
}

/* To find if the cursor is inside the table */
DIV#divtable:hover DIV#hover { 
  left: -20px;
}
DIV#divtable DIV#hover { 
  position:absolute;
  left: -10px;
}

DIV#divtable { 
  width: 100% ;
}

TABLE#thetable { 
  table-layout: fixed ;
  width: 100% ;
  border-right: 2px solid black ; /* border of current_cell in last column */
}

/*
TABLE#menutop SELECT:focus { right: 0px ;  }
*/

TABLE#thetable TD, TABLE#thetable TH, TABLE#thetable INPUT, #current_input { 
  white-space: nowrap;
  overflow: hidden ;
  vertical-align: top ;
  text-align: left;
  padding: 0px ;
  margin: 0px;
}

TABLE#thetable TD { height: 1.1em; }

DIV#current_input_div { 
  position: absolute ;
  border: 3px solid blue ;
}

DIV#current_input_div INPUT#current_input {
  width: 100% ;
  height: 100% ;
}


TH, TH INPUT, TH P {
  font-weight: 500 ;
  font-size: 80% ;
  background-color: #DFD ;
/*  background: url(header.png) #DFD ; */
}


TH SELECT { 
  background-color: #CDC ;
}
TD, TH, TABLE INPUT, #current_input {
  font-size: 100% ;
}

THEAD TR TD { 
  white-space: normal;
}

/* TR.filter TH INPUT.notempty { background-color: #DFD ; } */
TR.filter TH INPUT.empty {
  background: url("filtre.png") #DFD ;
  background-repeat: no-repeat ;
}

TR.filter TH INPUT.freezed { border-bottom: 1px solid black; }

#linefilter, #columns_filter, #fullfilter {
  background-color: #FFF ;
  border: 1px solid black ;
}

#linefilter.empty, #columns_filter.empty, #fullfilter.empty {
  background: url("filtre2.png") white ;
  background-repeat: no-repeat ;
}

TR.tablefilter INPUT { width: 10em ; }


TR.ok TD, #current_input.ok, SPAN.ok {  }
BODY TABLE.colored TR.non TD, #current_input.non, SPAN.non, LI.non { background-color: #FBB; }

TD.rw, #current_input.rw, .rw { 
  color: black ;
}

TR.column_title TH { color: #00F; }
TR.column_title TH.ro { color: #88F; }
TR.column_title DIV { position: relative; width:100% }
TR.column_title DIV SPAN { float: left; width:100% }
TR.column_title DIV IMG { position: absolute; right: 0px; top: 0px }


TR.ro, TD.ro, #current_input.ro, TH.ro, TH.ro INPUT, TH.ro SELECT, .ro { 
  color: #555 ;
}
TD.empty { 
 /* background-color: #DDD ; */
}

BODY TABLE.colored TR.highlight_current TD { color: #00A;  }


.is_an_abj { text-decoration: underline ; }

TABLE#thetable TD.number, TD.number, #current_input.number { 
  text-align: right ;
}

BODY TABLE.colored TR TD.color_red, #current_input.color_red, .color_red { 
  background-color: #F88 ;
}

BODY TABLE.colored TR TD.color_green, #current_input.color_green, .color_green { 
  background-color: #8F8 ;
}

BODY TABLE.colored TR TD.filtered, #current_input.filtered, BODY TABLE.colored TR.non TD.filtered, BODY TABLE.colored TR.tierstemps TD.filtered, SPAN.filtered { 
  background-color: #FF0 ;
}


TABLE#thetable TH.sorted { 
  font-weight: bold ;
  color: #00F ;
  background-color: #BFB;
}


IMG.server { 
  width: 7px ;
  height: 7px ;
  background-color: orange ;
  border: 0px ;
}

INPUT#comment {
  border: 1px solid black ;
  background-color: white ;
}

TABLE INPUT, TABLE SELECT { 
  width: 100% ;
}

DIV#tip { 
  position: absolute ;
  border: 1px solid black ;
  background-image: url(tip.png) ;
  display: none ;
  padding: 2px ;
  min-width: 10em;
  z-index: 2;
  font-size: 70%;
}

DIV.help > * { font-size: 80%; }

DIV#tip HR {
   width: 20em ; /* Needed for IE, else it is the full screen width */
}

DIV#tip SPAN.title { background-color: #CCF ; }

.cursor IMG {
  vertical-align: middle ;
  border: 0px ;
}

DIV#tip UL { margin: 0px ; }


IMG.photo { 
  width: 100px ;
}

TD.comment, .comment { 
  background: url('cell_comment.png');
  background-repeat:no-repeat;
  background-position:right top;
}

TD.today, #current_input.today, .today { 
  font-weight: bolder ;
}


SPAN#teachers { font-weight: bold ; }

#student_data { border: 0px ; width: 1px ; height: 1px ; }


.t7, .t8 { display: none ; }

.copyright {
  color: #AAA ;
  font-size: small ;
}

TABLE.tablehelp { border: none; }
TABLE.tablehelp TR TH { text-align: right; background-color: #EEEEEE; }


IMG.icone { height: 16px; border: none;   vertical-align: bottom ;
 }
IMG.bigicone { width: 100px; border: none; }

.stroked { background-color: #BFB; font-weight: bold }

#menutop A.linkstroked { text-decoration: line-through }


#authenticate { 
  display: none ;
  position: absolute;
  left: 10%;
  right: 10%;
  top: 10%;
  border: 4px solid red ;
  padding: 0.5em ;
  font-size: 200% ;
  background-color: white ;
}

DIV#horizontal_scrollbar { 
  font-size: 60% ;
  height: 2em ;
  display: inline;
  padding-bottom: 6px ;
}

DIV.horizontal_scrollbar { 
  margin-bottom: 1em ;
}
DIV.horizontal_scrollbar IMG { 
position: absolute;
 }

DIV#horizontal_scrollbar A { 
  border-top: 1px solid black ;
  border-left: 1px solid #AAA ;
  border-bottom: 1px solid black ;
  position: absolute ;
  text-decoration: none;
  margin: 0px ;
  padding: 0px ;
  overflow: hidden;
  white-space: nowrap;
}
DIV#horizontal_scrollbar A.column_invisible { 
  background-color: #CCC;
}

DIV#horizontal_scrollbar A.column_visible { 
  background-color: #FFF;
}

DIV#horizontal_scrollbar A.cursor { 
  background-color: #0F0;
}

DIV#horizontal_scrollbar A.sorted { 
  color: #080;
}

DIV#vertical_scrollbar { 
  font-size: 70% ;
  width: 1.5em ;
  border: 1px solid black ;
  background-color: #CCC;
  position: absolute;
  overflow: hidden;
}
DIV#vertical_scrollbar SPAN { position: absolute ; left: 1px; }
DIV#vertical_scrollbar SPAN.position {
  left: 0px ;
  right:0px ;
  background-color: #FFF ;
  width: 100% ; /* For IE */
}
DIV#vertical_scrollbar SPAN B.letter {
   color: #00F ;
}
DIV#vertical_scrollbar SPAN B.hide {
  color: #AAA ;
}
DIV#vertical_scrollbar SPAN.cursor {
  position: absolute ;
  background-color: #0F0 ;
  height: 0px ;
}

DIV#vertical_scrollbar IMG { position: absolute ; }


#feedback {
  position:absolute ;
  left: 45% ;
  top: 45% ;
  z-index: 2;
}

P.da {  background-color: #FF0 ; }

/* Tiers temps */


P.tierstemps { background-color: #BBF ; }

BODY TABLE.colored TR.tierstemps TD, #current_input.tierstemps, SPAN.tt { background-color: #BBF ; }


#loading_bar { 
  position: absolute ;
  left: 10% ;
  right: 10% ;
  top: 70% ;
  bottom: 27% ;
  background-color: white ;
  border: 2px solid black ;
  display: none ;
}

#loading_bar DIV { 
  background-color: #4F4 ;
  height: 100% ;
}


.login_list, .login_list OPTION { 
  font-family: monospace;
  white-space: pre;
}

#saving { 
display: none ;
position: absolute ;
background: #FFF ;
border: 1px solid black ;
left:25%;
right:25%;
bottom: 0;
font-size: 200%;
}

/*****************************************************************************/
/* MENUTOP */
/*****************************************************************************/

#menutop {
  table-layout: fixed;
  border-spacing: 0px;
  margin-bottom: 0px ;
  width: 100% ;
  margin-top: 0em;
}
#menutop div.title {
  background-color: #8F8 ;
  display: inline;
  border-top: 1px solid black ;
  border-left: 1px solid black ;
  border-right: 1px solid black ;
  border-bottom: 0px ;
  font-size: 120%;
  padding-left: 0.2em ;
  padding-right: 0.2em ;
}

#menutop TD.blocktop {
  border-top: 1px solid black ;
  border-left: 1px solid black ;
  border-right: 1px solid black ;
}
#menutop TD.blockbottom {
  border-bottom: 1px solid black ;
  border-left: 1px solid black ;
  border-right: 1px solid black ;
}
#menutop TD.space { width: 2px ; }

#menutop TD.blocktop { width: 30% ; overflow: hidden;}
#menutop TD { vertical-align: top ; }
#t_student_picture { float: left ;   }
#t_value { font-weight: bold; }
INPUT#comment { width: 100% ; clear: both; }
#menutop IMG.phot { border-width: 0 ;height: 7em ; width: 90px }

#menutop .one_line {
  white-space: nowrap ;
  overflow: hidden;
}

/* #menutop SELECT { position:relative; top: -3px } */

#t_date, #t_author { font-size: 80%; }

#menutop INPUT.highlight1, .highlight1 { background-color: #FF0 ; }
#menutop INPUT.highlight2, .highlight2 { background-color: #FF4 ; }
#menutop INPUT.highlight3, .highlight3 { background-color: #FF8 ; }
#menutop INPUT.highlight4, .highlight4 { background-color: #FFB ; }

#menutop INPUT {
  width: 96% ;
  margin: 1px ;
  background-color: white ; 
  border: 1px solid black;
}

#menutop SELECT { width: 25% ; font-size: 80%; }

.gui_button {
  margin: 1px ;
  background: #EEE ;
  border: 1px outset #AAA ;
  font-size: 70% ;
}

/* #menutop .gui_button:hover { background: #EFE ; } */

#menutop DIV.menu, #menutop #t_history { font-size: 80% ; }
#menutop DIV.menu TABLE {  width: 100% ; }
#menutop DIV.menu TABLE TD {
  width: 16% ;
  text-align: center;
}

#comment.empty {
  background-image: url("comment.png");
  background-repeat: no-repeat;
}

#menutop A { text-decoration: none ; }



H1 {  margin: 0px  }
.testmessage { margin: 0px }


TR.separator TD { 
    border-top: 1px solid #999 ;
}

TR#dates TD { padding: 3px ;
}

.hidden_on_paper {  background: #FF8; margin: 0px; }
.printable_introduction {
  float: right;
  border: 1px solid black;
  font-size: smaller ;
  background: #FF0 ;
}

span.button_toggle { 
  border: 1px solid black;
  padding: 0px ;
  font-size: 70% ;
  white-space: nowrap ;
  vertical-align: middle;
}
span.button_toggle:hover { background: white ; color: black }

span.toggled:hover { background: #0C0 ; color: #0F0 }

span.toggled { background: #080 ; color: white }

.nowrap, TABLE.nowrap TD, TABLE.tdnowrap TD { white-space: nowrap ; }

.small { font-size: 80% }
.smaller { font-size: 60% }

/*****************************************************************************/
/* New new interface */
DIV.tabs DIV.titles { white-space: nowrap }
DIV.tabs DIV.titles SPAN {
  border: 1px solid black ;
  margin-right: 2px ;
  cursor: pointer ;
}
DIV.tabs DIV.titles SPAN:hover {
  background: #DFD ;
}

DIV.tabs DIV.titles SPAN:first-child {
  font-weight: bold ;
}

DIV.tabs DIV.titles SPAN.tab_selected {
  background: #0F0 ;
  border-bottom: 0px ;
}
DIV.tabs DIV.contents {
  border: 1px solid black;
  height: 7.6em;
  overflow: hidden ;
}
DIV.tabs DIV.contents DIV.content { height: 100% }
DIV.tabs {
  margin: 2px ;
  font-size: 80% ;
}

DIV.tabs .gui_button {font-size: 90% ; vertical-align: bottom }


TABLE.tabbed_headers { width: 100%; }
TD.tabbed_headers { width: 20%; }

TABLE.cell { border-spacing: 0px ; width: 100% }
TABLE.cell TD.cell_values { width: 100%; font-size: 80% ; }


#menutop DIV.tabs .one_line {
  height: 1.43em ;
  margin: 1px ;
}

#menutop DIV.tabs #t_column_stats {
  border-top: 0px solid black;
  border-bottom: 0px solid black;
}

#menutop DIV.tabs INPUT{ width: 99% ; margin: 0px }

#menutop DIV.tabs SPAN.widthleft { display:block; float: left ; width: 25%; }

DIV.tabs TABLE.colored TD, DIV.tabs TABLE.colored TH { font-size: 80% ; }

DIV.tabs #t_history,  DIV.tabs .scroll_auto { overflow: auto; height: 100% }


/*
DIV.tipped { background:red;}
.one_line { background:green  }
*/

/*****************************************************************************/
/* PRINT */
/*****************************************************************************/

@media print {

BODY { 
    margin: 5mm ;
}

BODY, TABLE TD, TH, P, H1 {
    background-color: white ;
}

TABLE.colored {
  border-spacing: 0px ;
}

TABLE.colored TD, TABLE.colored TH { 
    border: 0.5px solid black ;
}

TABLE.colored TR.separator TD { 
    border-top: 2px solid black ;
}

TABLE.colored TR TD { 
    border-top: 0px ;
}

.title_pointers {
  display: none;
}

.hidden_on_paper {
  display: none;
}

}
